

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/img/logo/logo.png" rel="icon">
    <title>Đặt Lại Mật Khẩu</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/ruang-admin.min.css" rel="stylesheet">
</head>
<body>
        <div style="text-align:center; padding: 50px; color:black">
            <h3>Đặt Lại Mật Khẩu Cho Tài Khoản Của Bạn Tại Đây</h3>
            <div style="padding:10px; background-color:cornflowerblue; text-align:center; width:100px; height:30px; margin-left:40%;">
                <a href="{Url}" style="color:white; text-decoration:none"><h4>Tại Đây</h4></a>
            </div>
        </div>
</body>
</html>
