
<!--<connectionStrings>
	<add name="DefaultConnection"
         connectionString="workstation id=HeThongLuuTru.mssql.somee.com;packet size=4096;user id=traxuanson123_SQLLogin_1;pwd=jrxsxqtrok;data source=HeThongLuuTru.mssql.somee.com;persist security info=False;initial catalog=HeThongLuuTru"
         providerName="System.Data.SqlClient" />
</connectionStrings>-->
﻿<connectionStrings>
	<add name="DefaultConnection"
		 connectionString="data source=DESKTOP-SQ4OPOU;initial catalog=HeThongLuuTru;integrated security=True"
		 providerName="System.Data.SqlClient" />
</connectionStrings>